:root {
  --color-content: #bdc3c7;
  --color-page-bg: #bdc3c7;
  --color-game-bg: #ffffff;
  --color-cell-hover: #ecf0f1;
  --color-fire: #f39c12;
  --color-ice: #3498db;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-content: #bdc3c7;
    --color-game-bg: #2d3436;
    --color-page-bg: #2d3436;
    --color-cell-hover: #7f8c8d;
    --color-fire: #f39c12;
    --color-ice: #3498db;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
  background: var(--color-page-bg);
  display: grid;
  place-items: center;
  height: 100vh;
}